.example-container {
    width: 100vw;
    height: 100vh;
    color:black;
  }

.example-sidenav-content {
  text-align: center;
}

.example-sidenav {
  padding: 20px;
}

.example-spacer {
  flex: 1 1 auto;
}

.content{
  margin-left: 30px;
}